.build/
.swiftpm/
.DS_Store
**/xcuserdata/
DerivedData/
AnkiRust.xcframework/
anki-bridge-rs/target/
anki-upstream/target/
.claude/settings.local.json
.superpowers/
docs/
.qwen/
Tests/
.vscode
.codex
.github/copilot-instructions.md
Hoshi-Reader/*
!Hoshi-Reader/Libraries/
Hoshi-Reader/Libraries/*
!Hoshi-Reader/Libraries/EPUBKit/
Hoshi-Reader/Libraries/EPUBKit/*
!Hoshi-Reader/Libraries/EPUBKit/Package.swift
!Hoshi-Reader/Libraries/EPUBKit/LICENSE
!Hoshi-Reader/Libraries/EPUBKit/Sources/
!Hoshi-Reader/Libraries/EPUBKit/Sources/**
cleanup-workflow-runs.ps1